body {
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 1000px;
}
.sidebar-nav {
  padding: 9px 0;
}

.try-it {
  position: absolute;
  background-color: #fff;
  box-shadow: -10px 4px 40px #ddd;
  border: 2px solid #ddd;
  padding: 10px;
  width: 600px;
  right: 365px;
  display: none;
}

strong.method {
  color: rgb(75,175,0);
}

strong.httpcode {
  color: rgb(21, 163, 163);
}

strong.header {
  color: rgb(4,4,4);
  font-weight: normal;
}

pre.request.collapsed, pre.response.collapsed {
  max-height: 16px;
  overflow: hidden;
}

pre .icon-chevron-up, pre .icon-chevron-down {
  float: right;
  cursor: pointer;
}

pre.payload {
  display: inline-block;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: rgb(255, 254, 226);
  width: 475px;
  height: 275px;
  overflow-y: scroll;
}

textarea.payload {
  width: 475px;
  height: 275px;
  font-family: Courier;
}

/*
.get { color: blue }
.put { color: yellow }
.post { color: green }
.del { color: red }
.patch { color: orange }
*/
